body{
	background-image: url(../img/im.jpg);
	text-align: center;
}
h2{
	background-color: rgb(255,255,0);
	border-style: solid;
}
ul{
	text-align: left;
	font-size: 17px;
}
ol{
	border-style: solid;
	list-style: none;
}
footer{
	border-style: solid;
	background-color: rgb(255,69,0);
	font-size: 25px;
}
p{
	color: rgb(255,255,255);
}
a{
	color: rgb(255,255,0);
}

