body {
	font-family: 'Anek Malayalam', sans-serif;
	background-image:url(../img/fundo.jpg);
}
p{
	margin-left:100px;
	margin-right:100px;
}
#estetica{
	background-image:url(../img/fundo.jpg);
	font-family: 'Anek Malayalam', sans-serif;
}
a{
	margin-left:100px;
	margin-right:100px;
} 
li{
	list-style-type: none;
}