body{
	background-color: lightblue;
	font-family: sans-serif;
  font-size: 20px;
  text-align: center;
   
    }


footer{
	background-color: rgb(224,255,255);

    }

a{
	color: darkblue;}





#tatica{
	background-color: rgb(224,255,255);
}

#oqueé{
	background-color: rgb(224,255,255);
}

#origem{
	background-color: rgb(224,255,255);
}

#regras{
	background-color: rgb(224,255,255);
}
#começo{
	background-color: rgb(224,255,255);
}

#start{
	background-color: rgb(224,255,255);
}
#whatis{
	background-color: rgb(224,255,255);
}
#origin{
	background-color: rgb(224,255,255);
}

#rules{
	background-color: rgb(224,255,255);
}

