body {
    color:#FFFAFA;
	background-color:#000000;
    background-image:cover;   
	font-family: Trebuchet MS, sans-serif;
}
h1 {
     color:#FFFAFA;
     background-color:#EE0000;
     border-color:#FF0000;
     border-style: solid;
     border-width: 6px;
     font-family: Trebuchet MS, sans-serif;
     text-align: center;
}
p {

    font-size: 17px;
}
a {
  color:#FF0000;
  font-size: 17px;  
}
ul {
    font-size: 17px;
}
footer {
    background-color:#CD0000; 
    margin-top:33px;
    text-align: center;
}
h2 {
    border-color:#CD0000;
     border-style: solid;
     border-width: 2px;
     margin-right: 30095px;
     margin-left: 5px;
}
figure {
    margin-left:10px;
}
#gif{
    margin-left:700px;
}