h1 {
	color: blue;
}
h2{
	color:  blue;
}
body{
	border-color: blue;
	border-style: solid;
	border-width: 4px;
}
 h1{
 	font-family: serif;
 	color: blue;
 }
 body{
 	background-color: red;
 }
 body{
 	margin-left: 30px;
 	background-color: #F0E68C;
 	font-family: sans-serif;
 }
 footer{
 	padding: 2px;
 	color: black;
 	background-color: red;
 	text-align: center;
 }
 body{
	background-color: #87CEEB;
        border-color: #FFFF00;
        border-style: double;
        border-width:5px;
}
h1{
        color:#0000CD;
    }
    h2{
        color: #FFFF00;
    }
    p{
        color: #000000;
    }
    figcaption{
        color:#7FFFD4;
