p{
	padding-right: 200px;
	padding-left: 200px;
}
body{
	text-align: center;
	background-color: #6F6F6F;
}
ul{
	padding-right: 200px;
	padding-left: 200px;
}
footer{
	background-color: #301f20;
}
a{
	color: #301f20;
}